@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.home-component {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 0 20px;
  justify-content: flex-end;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: #f7f8f9;
}

.home-title {
  /* outline: auto; */
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #1d2226;
  font-family: "Rubik", sans-serif;
}

.home-description {
  /* outline: auto; */
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #1d2226;
  opacity: 60%;
  height: 48px;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
}

.home-buttons {
  /* outline: auto; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 29px;
  width: 335px;
}

.create-account-button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  width: 335px;
  height: 46px;
  color: white;
  background-color: #6c25ff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

.create-account-button:hover {
  background-color: #4b1bb3;
}

.login-button-home {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #1d2226;
  background-color: #6c25ff4b;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  width: 335px;
  height: 46px;
  color: black;
  margin-bottom: 41px;
}
